<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hungrazy">

    <uses-permission android:name="android.permission.INTERNET0" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/food5"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".SplashActivity"
            android:theme="@style/Notoolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Add_revieww" />
        <activity android:name=".Show" />
        <activity android:name=".Add" />
        <activity android:name=".ListPage" />
        <activity android:name=".HomePage" />
        <activity android:name=".onboarding.OnBoardingActivity"
            android:theme="@style/Notoolbar">
        </activity>
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>